* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #5372f0;
    --text-color: white;
    --card-bg: white;
    --transition: transform 0.4s ease, opacity 0.4s ease;
    --border-radius: 5px;
}
body {
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.navBar{
    width: 100%;
    background-color: var(--card-bg);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.navBar .logo{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: "Arabic Typesetting",sans-serif;
    color: var(--bg-color);
    border-bottom: 1px  solid var(--bg-color) ;
    cursor: pointer;
}
.navBar .theme i{
    font-size: 1.2rem;
    color: var(--bg-color);
    cursor: pointer;
    position: absolute;
    bottom: 25%;
    transition: transform .4s ease-out , opacity .4s ease-out;
    transform-origin: center bottom;
}
.navBar .theme i.active{
    opacity: 0;
    transform: translateY(100%);
}
.wrapper{
    width: 605px;
    background-color:var(--card-bg);
    border-radius: 15px;
    padding: 30px 30px 25px;
}
.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: var(--bg-color);
}
.wrapper .content{
    margin: 35px;
}
.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
    color: var(--bg-color);
}

.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}
.quote-area i:last-child{
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;
}
.content .author{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
}
.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}
.wrapper .buttons{
    border-top: 1px solid #ccc;
}
.buttons .features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.features ul{
    display: flex;
}
.features ul li{
    list-style:none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    color: var(--bg-color);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border:2px solid var(--bg-color);
}
.features button{
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 30px;
    background: var(--bg-color);
}
.features button,
.features ul li{
    transition: all .5s ease-out;
    cursor: pointer;
}
.features button:hover,
.features ul li:hover{
    background: var(--bg-color);
    color: var(--text-color);
}

