*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#56baed ;
}
body{
    background:var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.select-box,
.play-board,
.result-box{
    position: absolute;
    width: 350px;
    transform:scale(0);
    transition:transform .5s ease , opacity .5s ease;
}
.select-box{
    background: white;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 100%;
}
.hide{
    opacity: 0;
    transform: scale(0);
}
.show{
    opacity: 1;
    transform: scale(1);
    display: block;

}
/*hide play Bord and result */
div:where(.play-board,.result-box){
    opacity: 0;
    transform: scale(0);
    display: none;
}
.select-box header{
    font-weight: 800;
    font-size: 23px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.select-box .title{
    font-size: 18px;
    font-weight: 500;
    margin: 28px 0;
}
.select-box .options{
    display: flex;
    width: 100%;
}
.options button,
.result-box .btn button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 10px;
    border: none;
    outline: none;
    background: var(--bg-color);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: transform .5s ease;
}
.options button:hover,.result-box .btn button:hover{
    transform: scale(.9);
}
.options button.playerX{
    margin-right: 5px;
}
.options button.playerO{
    margin-left: 5px;
}
/*play Board Styles*/
.play-board .details{
    background: white;
    padding:15px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.play-board .details .players{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    font-weight: 800;
}
.play-board .details .players span.active{
    z-index: 5;
    color: white;
}
.play-board .details .players .slider{
    background: var(--bg-color);
    width: 50%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    transition: transform .4s ease;
}

.play-board .details .players span{
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 19px;
    font-weight: 800;
    cursor: default;
    text-align: center;
    color: #56baed;

}
.play-area section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.play-area section span{
    display:block;
    margin: 3px;
    height: 100px;
    width: 100%;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.play-area section span.clicked{
    pointer-events: none;
}
.play-area section span svg{
    fill: var(--bg-color);
    width: 65px;
    height: 55px;
    margin-top: 25%;
}
/*Result Box Showing winner */
.result-box{
    background: white;
    padding: 20px;
    min-width: 400px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.result-box .won-text{
    font-size: 25px;
    font-weight: normal;
    width: 100%;
    text-wrap: none;
}
.result-box .won-text span{
    font-weight: bolder;
    margin: 0 3px;
}
.result-box div img{
    width: 50%;
}








