@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    list-style: none;
}
:root{
    --main-color:#4285FA;
    --secondary-color:#fff;
}
body{
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container{
    width: 540px;
    background: var(--secondary-color);
    border-radius: 8px;
}
.container h2{
    font-weight: 600;
    font-size: 1.31rem;
    padding: 1rem 1.175rem;
    border-bottom: 1px solid #d4dbe5;
}
.wrapper{
    margin: 1.25rem 1.75rem;
}
.input-box{
    position: relative;
}
.input-box input{
    width: 100%;
    height: 53px;
    color: #000;
    background: none;
    font-size: 1.06rem;
    font-weight: 500;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0 2.85rem 0 1rem;
    letter-spacing: 2px;
}
.input-box span{
    position: absolute;
    right: 13px;
    top: 25%;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: #707070;
}
.input-box span:active{
    transform: scale(.8);
}
.copy-wrapper {
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 50px;
    right: 0;
    background: rgb(239, 239, 239);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 0;
    padding: 15px;
    /*transform-origin: center center;*/
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;

}
.copy-wrapper.show {
    opacity: 1;
    transform: translateY(0);
}
.copy-popup {
    padding:0 10px;
    position: absolute;
    right: 15px;
    bottom: -25px;
    border-left: 21px solid transparent;
    &::before {
        content: '';
        position: absolute;
        right: 5px;
        bottom: 2px;
        border-left: 23px solid transparent;
        border-top: 23px solid #a7a7a7;
    }

    &::after {
        content: '';
        position: absolute;
        right: 6px;
        bottom: 4px;
        border-left: 21px solid transparent;
        border-top: 21px solid #efefef;
    }
}



.wrapper .pass-indicator{
    width: 100%;
    height: 5px;
    background: #dfdfdf;
    margin-top: 0.75rem;
    border-radius: 25px;
    position: relative;
}
.pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    border-radius: inherit;

}
.pass-indicator.strength-1::before {
    width: 25%;
    background-color: #FF4C4C; /* Weak */
}

.pass-indicator.strength-2::before {
    width: 50%;
    background-color: #FFA500; /* Fair */
}

.pass-indicator.strength-3::before {
    width: 75%;
    background-color: #2e94fa; /* Good */
}

.pass-indicator.strength-4::before {
    width: 100%;
    background-color: #4CAF50; /* Strong */
}
.wrapper .pass-length{
    margin:1.56rem 0 1.25rem;
}

.wrapper .pass-length .details{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.pass-length input{
    width: 100%;
    height: 5px;
    cursor: pointer;
}
.pass-settings .options{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.pass-settings .options .option{
    display: flex;
    margin-bottom: 1rem;
    width: calc(100%/2);
}
.pass-settings .options .option:first-child input{
    opacity: 0.5;
}
.pass-settings .options .option:first-child{
    pointer-events: none;
}
.pass-settings .options .option label{
    cursor: pointer;
    padding-left: 0.63rem;
}
.wrapper .generate-btn{
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    margin: 0.94rem 0 1.3rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    background: var(--main-color);
    transition: background-color .4s ease;
}
.wrapper .generate-btn:hover{
    background: #2b71f1;
}


