*{
    margin: 0;
    bottom: 0;
    box-sizing:border-box;
}
body{
    background-color: #0b122e;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    max-width: 65vw;
    position: relative;
    border-radius: 5px;
    padding:15px 0;
    background-color: transparent;

}
.container .cards-wrapper{
    width: 85%;
    margin-inline: auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);

}
.container .slider-track {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;

}
.show {
    opacity: 1;
    transform: scale(1);
}
.container .card {
    min-width:calc(85%/3);
    background-color: #13183d;
    padding: 1.3rem .8rem;
    margin:1.5% 2.5%;
    color: white;
    border-radius: 10px;
    max-height:400px ;
}
.container .card.left{
    transform: translateX(0%);
}
.container .card.right{

}
.card-head img{
    width:100%;
    border-radius: 4px;
}
.container .card .card-body h1{
    font-size: 1.2rem;
    text-transform: capitalize;
    margin:10px 5px;

}
.container .card .card-body p{
    line-height: 1.3rem;

}
.container .card button{
    outline: none;
    border: none;
    background-color:#7a5eef;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.container .symbols-wrapper,
.notes-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.container .symbols-wrapper span{
    color: #7a5eef;
    cursor: pointer;
    font-size: 3rem;
    z-index: 1;
}
.notes-wrapper{
    justify-content: center;
    align-items: flex-end;
    top: 10%;
}
.notes-wrapper span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px 20px;
    cursor: pointer;
    background-color: #030818;
}
.notes-wrapper span.active{
    background-color:#7a5eef ;
    border: 1px solid ;
}
/*slide animation*/
/*@keyframes slideLoop {*/
/*    0% {*/
/*        transform: translateX(100%);*/
/*    }*/
/*    100%{*/
/*        transform: translateX(-200%);*/
/*    }*/
/*}*/


